.iheaderbar
{
	background:transparent url("/img/header.jpg");
	-webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center center;
  height: 250px;
}

.ileftbar
{
	background:transparent url("/img/leftbar.jpg") no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 700px;
  margin: 0px;
  padding: 0px;
}

.imainbody
{
	background:transparent url("/img/background.jpg") no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 700px;
}

.controls
{
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input
{
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}
#pac-input:focus
{
    border-color: #4d90fe;
}
.pac-container
{
    font-family: Roboto;
}

.btn-i-a
{
	color: #FFFFFF;
}

.btn-i,
a.btn-i
{
	color: #FFFFFF;
    background-color: #6000a9;
    background-image: linear-gradient(to bottom, #b960fe, #6000a9);
    border-color: #4c0082 #3E8F3E #3E8F3E;
}

.btn-i:hover,
.btn-i:focus,
.btn-i:active,
.btn-i.active,
.open .dropdown-toggle.btn-i 
{
  color: #FFFFFF;
  background-color: #5F00A9;
  border-color: #4c0082 #3E8F3E #3E8F3E;
}

.btn-i:active,
.btn-i.active,
.open .dropdown-toggle.btn-i {
  background-image: none;
}

.btn-i.disabled,
.btn-i[disabled],
fieldset[disabled] .btn-i,
.btn-i.disabled:hover,
.btn-i[disabled]:hover,
fieldset[disabled] .btn-i:hover,
.btn-i.disabled:focus,
.btn-i[disabled]:focus,
fieldset[disabled] .btn-i:focus,
.btn-i.disabled:active,
.btn-i[disabled]:active,
fieldset[disabled] .btn-i:active,
.btn-i.disabled.active,
.btn-i[disabled].active,
fieldset[disabled] .btn-i.active {
  background-color: #6000a9;
  border-color: #4c0082 #3E8F3E #3E8F3E;
}

.btn-i .badge {
  color: #6000a9;
  background-color: #ffffff;
}

.btn-i-order {
  color: #ffffff;
    background-color: #6000a9;
    background-image: linear-gradient(to bottom, #6000a9, #240046);
    border-color: #4c0082 #3E8F3E #3E8F3E;
}

.btn-i-order:hover,
.btn-i-order:focus,
.btn-i-order:active,
.btn-i-order.active,
.open .dropdown-toggle.btn-i-order {
  color: #ffffff;
  background-color: #5F00A9;
  border-color: #4c0082 #3E8F3E #3E8F3E;
}

.btn-i-order:active,
.btn-i-order.active,
.open .dropdown-toggle.btn-i-order {
  background-image: none;
}

.btn-i-order.disabled,
.btn-i-order[disabled],
fieldset[disabled] .btn-i-order,
.btn-i-order.disabled:hover,
.btn-i-order[disabled]:hover,
fieldset[disabled] .btn-i-order:hover,
.btn-i-order.disabled:focus,
.btn-i-order[disabled]:focus,
fieldset[disabled] .btn-i-order:focus,
.btn-i-order.disabled:active,
.btn-i-order[disabled]:active,
fieldset[disabled] .btn-i-order:active,
.btn-i-order.disabled.active,
.btn-i-order[disabled].active,
fieldset[disabled] .btn-i-order.active {
  background-color: #6000a9;
  border-color: #4c0082 #3E8F3E #3E8F3E;
}

.btn-i-order .badge
{
color: #6000a9;
background-color: #ffffff;
}

.text-i-dark
{
color: #1F013F;
}

.text-i-purple
{
color: #6000a9;
}

.text-i-light
{
color: #6000a9;
}